body {
    font-family: "游ゴシック体","Yu Gothic",YuGothic,sans-serif,"Oxygen Mono" !important;
}
a, a:active, a:focus{
    outline: 0;
}
.related_post{
    display: none;
}
.title > b {
    font-size: 35px;
}
.points_list {
    border-bottom: 1px solid #ccc;
}
.points_title {
    font-weight: bold;
}
.points_ > .title {
    margin: 0;
}
.right_ptice, .result_point p {
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}
.con_price {
    color: #e66363;
}
.points_ {
    position: relative;
}
.points_  span:first-child {
    position: absolute;
    top: 0;
    font-size: 11px;
}
.ponts_price {
    color: #e66363;
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
    margin-left: 30px;
    position: relative;
    display: block;
    margin-top: 16px;
    text-align: center;
}
.ponts_price b{
    font-size: 14px;
}

.upload-preview {
    max-width: 100%;
    float: left;
}
/*input[type="file"] {
    display: block;
    width: 68px;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}*/
.close_modal {
    float: left;
    font-size: 20px;
}

.modal_header .close_modal {
    float: right;
}

.container-part-sp {
    max-width: 90%;
    margin: 0 auto;
}
#description_sp {
    height: 100px;
    margin-bottom: 20px;
}

.student-edit-profile-sp .col-xs-1,
.student-edit-profile-sp .col-xs-2,
.student-edit-profile-sp .col-xs-3,
.student-edit-profile-sp .col-xs-4,
.student-edit-profile-sp .col-xs-5,
.student-edit-profile-sp .col-xs-6,
.student-edit-profile-sp .col-xs-7,
.student-edit-profile-sp .col-xs-8,
.student-edit-profile-sp .col-xs-9,
.student-edit-profile-sp .col-xs-10,
.student-edit-profile-sp .col-xs-11,
.student-edit-profile-sp .col-xs-12 {
    padding: 0px;
    /*margin-bottom: 10px;*/
}
.col-xs-6.mg-less{
  margin-bottom: 0px;
}
.col-xs-12.field-sp{
    margin-bottom: 10px;

}

.col-xs-11.custom-part1 {
    margin-top: 30px;
    margin-bottom: 25px;
}

textarea.form-control {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top-banner-sp input{display: none;}


.change-icon {
    max-width: 95px;
    margin: -85px auto;
    position: relative;
    display: block;
}
.student-edit-profile-sp .col-xs-12 {
    margin-bottom: 5px;
}

.student-edit-profile-sp label {
    padding-top: 2px;
    position: relative;
    top: 7px;
    font-size: 13px;
}

.col-xs-12.text-left.checkbox-title {
    padding-bottom: 20px;
}

.checkbox-text .col-xs-12 {
    font-size: 11px;
}
#user_info .pointarea .groupname span {
    width: 45%;
}
.modal-dialog.container-part-sp {
    margin-top: 100px;
}

.confirm-text-sp {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.close.btn.btn-default {
    background: #0055B4;
    font-size: 11px;
    padding: 12px 0px;
    width: 110px;
    color: #fff;
    float: left;
    margin-left: 10px;
}

.home-redirect {
    border: 1px solid #0055B4;
    padding: 9px 25px;
    font-size: 11px;
    position: relative;
    top: 7px !important;
    left:10px;
}

img.banner_img_sp {
    max-width: 100%;
    margin-bottom: 30px;
}
h1.std_group_name{
    padding: 21px 0px 20px 3px;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}
.student-edit-profile-sp textarea.form-control,
.student-edit-profile-sp textarea.form-control:focus {
    border: 0px;
    box-shadow: none;
    color: #4e4e4e;
    padding-left: 0px;
}

.col-xs-12.field-sp {
    border-top: 1px solid #ccc;
    padding: 7px 0px 3px 0px;
}

.col-xs-12.field-sp.last-part {
    border-bottom: 1px solid #ccc;
}

.student-edit-profile-sp .form-control,.student-edit-profile-sp .form-control:focus {
    border: none;
    box-shadow: none;
}

.field-sp select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 2px;
    border: none;
    background: transparent url("../img/student_group/sp-arrow.jpg") no-repeat right center;
}

.top-banner-sp > input {
    display: none;
}
/*
* confirm modal
*/
.input-field-part {
    margin-top: 1%;
}
._setBorder{
  border: 1px solid #c0c0c0;
  padding: 7%;
  box-sizing: border-box;
}
.email_fld>input[type="text"]{
  width: 100%;
  padding: 10px;
}
.ph_fld>input[type="text"]{
  width: 100%;
  padding: 10px;
}
.ph_fld {
    margin-top: 3%;
}




/*Sazib code hear for profile page*/
img.change-icon {
    display: none;
}
a.invite_link {
  color: #0055b4;
  border: 1px solid #2e5dac;
  padding: 4px 4px;
  display: inline-block;
  margin-top: 7px;
  position: relative;
  /*left: -39px;*/
  text-decoration: none;
}
a.invite_link:hover {
  background-color: #2e5dac;
  color: #FFF;
  transition:0.3s;
}
#modal_wraper {
     width: 25%;
}
.head_title{
  text-align: center;
}
.head_title h2{
  color: #2e5dac;
  font-size: 20px !important;
  font-weight: bold !important;
}

.head_title p{
  color: #666;
  font-weight: bold;
}
.input_from input {
    width: 100%;
    padding: 10px 10px;
}
.add_btn {
  display: inline-block;
  float: right;
  margin-top: 20px;
}
.add_btn>p{
  float: left;
  margin-top: 15px;
  padding-right: 10px;
  color: #0055B4;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}
.add_btn a{
  background: #2e5dac;
  color: #FFF;
  font-size: 20px;
  padding: 13px 20px;
}
.clear_both{
  clear: both;
}
input.select_opt {
    width: auto;
}
.checkbox_area{
  display: inline-flex;
  padding-right: 20px;
  margin-top: 40px;
}
p.ck_caption{
  position: relative;
  left: 9px;
}
.submit_btn_sec{
  text-align: center;
  margin-top:20px;
}
.submit_btn_sec a {
    color: #FFF;
    display: block;
    background: #2e5dac;
    width: 50%;
    margin: 0 auto;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}






.social_icon_sp{
  display: none;
}
.text_part {
    display: inline-block;
    min-height: 75px;
}
.text_part h3{
  margin-top: 0px;
}
.social_icon{
  display: inline-block;
  float: right;
  margin-top: 3%;
}
.social_icon a{
  margin-right: 5px;
}
.fb img:hover{
  opacity: 0.5;
  transition: 0.5s;
}
.twitter img:hover{
  opacity: 0.5;
  transition: 0.5s;
}
.text_icon img:hover{
  opacity: 0.5;
  transition: 0.5s;
}
.grade_category{
  border-top: 1px solid #4D4D4D;
  border-bottom: 1px solid #4D4D4D;
  padding: 10px 0;
}
img.profile_rank {
   /* margin-left: 50px !important;*/
}
.tab_menu{}
.tab_menu ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.tab_menu ul li{
  float: left;
  background-color: #F0F0F0;
  margin-right: 10px;
}
.tab_menu ul li a{
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  color: #4D4D4D;
}
.tab_menu ul li a:hover{
  background-color: #c0c0c0;
  transition: 0.5s;
}
.col-md-6.details_para {
    margin-bottom: 80px;
}
.col-md-9.rank_cat_tab {
    margin-left: 5%;
}
.details_rank img {
    /*width: 61% !important;*/
    margin-left: 0;
}
/*End profile page style*/


.box_container{
    width: 91%;
    margin: 0 auto;
}
.top_title {
    margin-top: 0px;
    padding: 0px;
    background: #f0f0f0;
}
.top_title img{
  width: 25%;
  /*margin-left: 58px;*/
  margin-left: 22px;
  padding: 4.5% 0px;
}
.second_title_img {
    width: 36%;
    padding: 21px 0px 20px 3px;
}
.second_subtitle_img{
    width: 8.5%;
    margin-bottom: 2.7%;
}
.student_group_form {
    padding: 2.7% 0;
    margin-left: 58px;
}
.second_title {
    /*margin-left: 58px;*/
    margin-left: 22px;
}
.student-edit-profile .col-md-1,
.student-edit-profile .col-md-2,
.student-edit-profile .col-md-3,
.student-edit-profile .col-md-4,
.student-edit-profile .col-md-5,
.student-edit-profile .col-md-6,
.student-edit-profile .col-md-7,
.student-edit-profile .col-md-8,
.student-edit-profile .col-md-9,
.student-edit-profile .col-md-10,
.student-edit-profile .col-md-11,
.student-edit-profile .col-md-12{
    padding: 0px;
}

.col-md-3.col-sm-3.col-lg-3.file-part.first-part {
    margin-bottom: 70px;
}

.student-edit-profile label {
    color: #4d4d4d;
    padding: 8px 0px;
    font-size: 13px;
    float: left;
}

.col-md-2.first {
    width: 12%;
}
.custom-2.text-center{
  font-size: 9px;
}
.col-md-12.text-left {
    font-size: 10px;
}

.custom-7{
padding-left: 24px;
}

.col-md-9.custom-3 {
    padding-left: 8px;
    margin-top: -2px;
}
.avator_large_img {
    max-width: 101px;
    margin-left: 13px;
    margin-top:2px;
    width: 100%;
}

.student-edit-profile .col-md-1.small-avator {
    width: 10%;
    padding-bottom: 0px;
}

.col-md-12.custom-4 {
    margin-top: 34px;
}

textarea.form-control {
    height: 200px;
}

.student-edit-profile .col-md-12 {
    margin-bottom: 12px;
}

/* .student-edit-profile .col-md-12 {
    padding-bottom: 10px;
} */
.avator_small_img {
    max-width: 45px;
    margin-top: 13px;
    margin-left: 14px;
    width: 100%;
}

.col-sm-1.col-sm-1.col-lg-1.small-avator {
    padding: 2px;
}

.col-md-offset-1.col-md-3.file-part {
    margin-top: 25px;
}

.file.text-center {
    background: #4d4d4d;
    color: #fff;
    float: left;
    font-size: 11px;
}
.student-edit-profile .col-md-2 {
    width: 15%;
}

.student-edit-profile .col-md-1 {
    width: 8%;
}

.checkbox {
    float: left;
    margin-right: 5px !important;
}

.col-md-5.bottom-part label {
    font-size: 11px;
}

.col-md-5.bottom-part {
    margin-top: 25px;
}

.form-control.edit-form-submit,
.form-control.edit-form-submit-sp {
    background: #0055B4;
    max-width: 400px;
    height: 50px;
    color: #fff;
    font-size: 21px;
}

.col-md-12.submit-button {
    margin-top: 50px;
}

.modal-body.edit-student-profile {
    position: relative;
    padding-bottom:205px;

}

.col-md-offset-2.col-md-9.content-part{
    position: relative;
    padding-top:10px;

}

.confirm-text-lp {
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

.col-md-2.text-left.label-part {
    padding-top: 10px;
}

.close_modal.close1 {
    background: #0055B4;
    font-size: 13px;
    padding: 10px 0px;
    width: 41%;
    color: #fff;
    text-align: center;
}


#confirmation_sp .close_modal.close1 {
    background: #0055B4;
    font-size: 13px;
    padding: 10px 0px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.home-redirect {
    border: 1px solid #0055B4;
    padding: 11px 17% 13px;
    font-size: 12px;
    position: relative;
    top: 8px !important;
    left: 15px;
    width: 100%;
}


.col-md-3.custom-1 {
    width: 21%;
}

.custom-1 > label {
    color: #4d4d4d;
    font-size: 14px;
    float: left;
    padding-left: 16px!important;
    padding-top: 19px!important;
}

.custom-1 input.form-control {
    margin-top: 7px;
    margin-left: 4px;
    height: 47px;
    width: 97%;
}

.modal-dialog {
    margin: 145px auto;
}

#modal_wrap{
    width: 80%;
}

.modal_row > .entry_title {
    background: #efefef none repeat scroll 0 0;
    margin-top: 25px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-top: 20px;
}
.modal_row {
    padding-bottom: 30px;
}
/*.pont_popup {
    margin: 0 auto;
    max-width: 35%;
    width:100%;
}
.confirm_btn_rap {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    width: 100%;
}*/
.confirm_btn_rap, .thanks_rap {
    text-align: center;
}
.modal_btn {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 45px !important;
}
.btn-ash {
    background: #969696 none repeat scroll 0 0;
    color: #fff;
}
.btn-red-social {
    background: #fc6464 none repeat scroll 0 0;
    color: #fff;
    border: 0;
}
.btn-red-social:hover {
    background: #fc6464 none repeat scroll 0 0;
    color: #fff;
}
.btn-ash:hover {
    background: #969691 none repeat scroll 0 0;
    color: #fff;
}
.footer_confirm_btn > h3 {
    font-weight: bold;
    padding-bottom: 15px;
}
.home_btn {
    margin-top: 60px;
}
.thanks_rap > h3 {
    margin-bottom: 30px;
}
.thanks_rap {
    padding-top: 30px;
}
.detail_banner{
    position: relative;
    max-width: 1080px;
    width: 100%;
    height: 350px;
    /*overflow: hidden;*/
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    object-fit: cover;
}
.detail_banner p img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.login_btn > a, .signup_btn > a, .login_btn > a:hover, .signup_btn > a:hover {
    background: transparent none repeat scroll 0 0 !important;
    color: #0055b4;
    font-weight: bold;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
    margin-top: 10px !important;
    border: 1px solid #2e5dac;
    margin-right: 15px;
}
.login_btn > a {
    background: #2e5dac !important;
    color: #ffffff;
}
.btn-fb, .btn-fb:hover {
    background: #2e5dac none repeat scroll 0 0;
    border-color: #2e5dac;
    color:#FFF;
}
.btn-tw, .btn-tw:hover{
    background: #59ADEC none repeat scroll 0 0;
    border-color: #59ADEC;
    color: #FFF;
}
.social-btn {
    border-radius: 0 !important;
    color: #fff;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 9px 10px;
    width: 100%;
    font-size: 1.4vw;
    letter-spacing: 4px;
}
.login_by_social, .login_by_email {
    text-align: center;
}
.login_by_social {
    padding-right: 2px;
}
.login_by_social .social_btn_rap {
    margin-top: 20px;
}
.login_fields {
    padding-right: 21px;
    padding-left: 38px;
}
.reg_input_fld {
    border-radius: 0;
    border-width: 2px;
    font-weight: bold;
    min-height: 40px !important;
}
.login_byemail_btn {
    background: #0055b4 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
}
.login_byemail_btn:hover{
    background: #0055b4 none repeat scroll 0 0;
    color: #fff;
}
.login_by_social h4, .login_by_email h4 {
    font-weight: bold;
    letter-spacing: -3px;
}
#signup_modal_wrap > .modal_body > .modal_row {
    padding-top: 40px;
}
.entry_content_supporter_logos {
    padding-left: 0;
    font-size: 11px;
    padding-right: 0px;
}
.entry_content_supporter_logos span{
    position: absolute;
}
.entry_content_supporter_logos p a img.detail_top_logo {
    max-width: 52%;
    margin-left: 54px;
    margin-top: 10px;
}

/*
* Modyfy main css
*/
.details_top .price_ .title {
    margin-left: 70px!important;
}
.details_top .price_sec .logos a img {
    padding-left: 10px;
}

/*
* Customize modal
*/

.modal_shadow{
    outline: 0 none;
    bottom: 0;
}
.modal_shadow .modal_main {
    margin: 10% auto !important;
   /* top: 25%;*/
    z-index: 9999999999;
}

.con_sup_img {
    background: #fff none repeat scroll 0 0;
    position: relative;
    display: block;
    text-align: center;
    width: 61px;
    margin: 0px auto;
    padding: 7px 7px;
    margin-left: 5px;
}
.con_sup_img img {
    width: 100%;
}
.no_pad_left{
    padding-left: 0px;
}
.no_pad_right{
    padding-right: 0px;
}
.no_pad_left > .support_by{
    margin-left: 0px!important;
}
/*
* Pixel perfect for about modal
*/
.modal_sec > h3.logo_title {
    margin-top: 8px;
}
.modal_sec > h3.sub_logo_title {
    font-size: 21px;
    margin-top: 10px;
}
.title.bottom_logo {
    margin-top: 9px;
}
#preloader  {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 101;
}

#status  {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
/*21-07-16*/
#visible-sp,#logout_icon_sp,#login_icon_sp{
    display: none;
}
/*09-02-16
* contact button on footer
*/
.footer-contact{
    margin-left: 24px;
}
.footer_con_btn{
    padding: 16px 55px!important;
    font-size: 15px;
    font-weight: bold;
}
.load_more_post .next a{
    display: none;
}
/*
* Actual result
*/
.actual_result_img_pc{
    /*margin: 25px auto 0;*/
    text-align: center;
    /*width: 91%;*/
}
.actual_result_sp{
    display: none;
}
.nav li.rank {
    text-align: right;
    padding-top: 4px;
    padding-right: 20px;
}
.nav li.rank img {
    width: 30%;
}
#logout-btn-pc {
    padding-top: 6px;
}
#logout-btn-pc a{
    background: none!important;
    border: 0;
    margin-top: 0!important;
    position: relative;
    height: 40px;
    width: 40px;
    overflow: hidden;
    padding: 0;
}
#logout-btn-pc a:hover{
    background: none;
}
#logout-btn-pc a img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.stiky_header {
    background: #fff none repeat scroll 0 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647;
    margin: 0;
    transition:all 0.15s ease 0.1s;
    -webkit-transition:all 0.15s ease 0.1s;
}
.fixed{
    background: #fff none repeat scroll 0 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0;
}
.banner,.review-title {
    margin-top: 50px;
}
.post_desc > .item_title{
    display: none;
}
.sup_sp{
    display: none;
}
#signup_modal_wrap{
    width: 49%;
}
#signup_modal.modal_shadow .modal_main {
    margin: 17.3% auto !important;
}
#signup_modal.modal_shadow .modal_main .modal_body {
    padding: 23px 45px;
    padding-top: 11px;
}
.post a:hover, .post a:active, .post a:focus{
    text-decoration: none;
}
.topbar_wp{
    padding-bottom: 7px;
}
#user_info .modal_main {
    width: 560px;
}
#user_info .modal_main .modal_body {
    padding-left: 100px;
    padding-right: 100px;
}
#user_info .subtitle {
    margin-top: 20px;
    font-size: 1.3em;
    color: #0055B3;
}
#user_info .avatar {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;

}

#user_info .avatar img {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#user_info .username {
    font-size: 25px;
    color: #4F4D4F;
    font-weight: bold;
}
#user_info .username small {
    font-size: 50%;
}

#user_info .pointarea {
    position: relative;
    margin-top: 30px;
}
#user_info .pointarea .groupname {
    border-bottom: 1px solid #d7e6ef;
    padding-bottom: 5px;
}
#user_info .pointarea .groupname span {
    display: inline-block;
    width: 54%;
    vertical-align: middle;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.5em;
}
#user_info .pointarea .groupname img {
    display: inline-block;
    width: 25%;
}
#user_info .pointarea .groupname a {
    display: inline-block;
}
#user_info .pointarea .groupname a img{

    width: inherit;
}

#user_info .point {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
#user_info .point p {
    border-bottom: 1px solid #d7e6ef;
    font-size: 14px;
}
#user_info .point p span {
    display: inline-block;
}
#user_info .point p span:first-child {
    width: 65%;
}
#user_info .point p span:last-child {
    width: 30%;

    font-size: 25px;
}
#user_info .button-area {
    margin-top: 60px;
    margin-bottom: 40px;

}
#user_info .button-area .btn-blue {
    font-size: 1.4em;
}
#user_info .colse_btn .close_modal {
    color: #808080;
    font-size: 18px;
    font-weight: normal;
    background: url(../img/cross_button.png) no-repeat -1px center;
    background-size: 14px;
    padding-left: 20px;
}

.social_btn_rap .form-control {
    border-radius: 0;
    padding: 0 12px;
    border: 1px solid #7A7A7A;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:48px;
}
.social_btn_rap input[type='email'],.social_btn_rap input[type='text'] {
    font-size: 18px;
}
.social_btn_rap .form-group {
    margin-bottom: 9px;

}
.social_btn_rap .btn-blue {
    font-size: 18px;
    padding: 10px 32px;
    margin-top: 7px;
}
.footer-sp{
    display: none;
}
.less_border_sec{
    border-bottom: 0!important;
}
.about_grade_img {
    padding: 13px 0 11px
}
.about_grade_img img{
    width: 96%;
    margin-left: 12px;
}
.grade-arrow {
    padding: 0 15px;
    text-align: center;
}
.grade-arrow img{
    width: 86%;
}
.pre_next_tab{ text-align: center; }
.pre_next_tab ul {
    list-style: outside none none;
    margin: 0;
    padding: 20px 0 0;
}
.pre_next_tab ul li{
    display: inline;
}
.pre_next_tab ul li.next_pev_txt{
    font-size: 19px;
    font-weight: bold;
    padding: 0 5px;
}
.pre_next_tab ul li.tabPrev{
    cursor: pointer;
}
.pre_next_tab ul li.tabNext{
    cursor: pointer;
}
.pre_next_tab ul li.tabPrev img, .pre_next_tab ul li.tabNext img{
    margin: 0;
    width: 3%;
}
/*
* New review Modal
*/
#targetLayer{
    display: inline-block;
    width: 100%;
    height: 350px;
    position: relative;
}
#targetLayer img.upload-preview{
    max-width:100%;
    max-height:350px;
    width:auto;
    height:auto;
    border: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}
#targetLayer img.banner_img_sp{
    max-width:100%;
    max-height:350px;
    width:auto;
    height:auto;
    border: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}
/*
* Media Query
*/
@media (max-width: 990px){
#modal_wraper{
  width: 95%;
  height: 92%;
  border-radius: 5px;
}
.input_from input {
    outline: 1px solid #4D4D4D;
}


    .banner,.review-title {
        margin-top: 60px;
    }
    .social-btn {
        font-size: 2.7vw;

    }
    .details_rank img {
        /*width: 55% !important;*/
    }
}
@media (max-width: 768px){
  a.invite_link {
    /*left:10px;*/
  }
    .details_rank img {
        /*width: 29% !important;*/
    }
  .post > .post_inner > img {
  margin: 0 auto;
}
    #visible-lp{
        display: none;
    }
    #visible-sp,#logout_icon_sp,#login_icon_sp{
        display: block;
        float: left;
        margin-right: 25px;
        margin-left: 4px;
    }
    .login_icon_sp_d {
        float: right;
        margin-right: 20px;
        width: 70px;
    }
    #login_icon_sp a {
        background: #0755b1 none repeat scroll 0 0;
        color: #fff;
        font-weight: 800;
        margin-right: 10px;
        margin-top: 8px;
        padding: 17px 13px;
        font-size: 13px;
    }
    #login_icon_sp a:hover{
        background: #064893;
    }
    #logout_icon_sp > a {
        margin-right: 10px;
        margin-top: 7px;
        padding: 0;
        height: 34px;
        width: 34px;
        position: relative;
        overflow: hidden;
        padding-top: 0 !important;
    }
    #logout_icon_sp > a:hover {
        background: transparent;
    }
    #logout_icon_sp > a > img {
        width: 100%;
        display: inline;
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
    }
    .topbar .contact_btn ul {
        padding-right: 0px!important;
    }
    .topbar .contact_btn ul li p .top-right-contact-btn {
        font-size: 13px!important;
        padding: 7px 18px 8px 22px!important;
    }

}
@media (max-width: 768px){

    .nav>li {
        position: relative;
        float: left;
    }
    .nav li.rank img {
        width: 52%;
    }
    .nav li.rank {
        padding-right: 0;
        width: 120px;
        padding-top: 6px;
        font-size: 15px;
        text-align: center;
    }

    .login_btn > a, .signup_btn > a, .login_btn > a:hover, .signup_btn > a:hover {
        padding-bottom: 16px !important;
        padding-top: 16px !important;
        margin-top: 8px !important;
        padding-left: 23px !important;
        padding-right: 23px !important;
        margin-right: 0;
    }

    .topbar .contact_btn ul li a {

    }
    /*.signup_btn > a {*/
        /*margin-right: 0;*/
    /*}*/
    .recent_posts > .post{
        height: auto!important;
    }
    .footer_main {
        margin-top: 10px;
    }
    .title > b {
        font-size: 19px;
        font-weight: normal;
    }
    .recent_posts .post .details {
        text-align: justify;
    }
    .points_sec > .entry_content_supporter_logos, .points_sec > .points_ {
        padding-left: 0px;
    }
    .footer_confirm_btn > h3, .points_sec > .points_title {
        font-size: 18px;
    }
    .main_content .post .post_item .post_desc .post_content {
        margin-bottom: 10px !important;
    }
    #user_info .modal_main .modal_body {
        padding-left: 21px;
        padding-right: 21px;
    }
    #user_info .subtitle {
        margin-top: 20px;
    }
    #user_info .avatar {
        text-align: center;
        margin-top: 20px;
    }

    #user_info .avatar img {
        width: 100%;
        margin: 0 auto;
    }
    #user_info .username {
        font-size: 18px;
        color: #0055B4;
        font-weight: bold;
    }

    #user_info .pointarea {
        position: relative;
        margin-top: 30px;
    }
    #user_info .pointarea .groupname {
        border-bottom: 1px solid #0055B4;
        padding-bottom: 5px;
    }
    #user_info .pointarea .groupname span {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
        padding-left: 15px;
        font-weight: bold;
    }
    #user_info .pointarea .groupname img {
        display: inline-block;
        width: 25%;
    }

    #user_info .point {
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #user_info .point p {
        border-bottom: 1px solid #0055B4;
        font-size: 14px;
    }
    #user_info .point p span {
        display: inline-block;
    }
    #user_info .point p span:first-child {
        width: 65%;
    }
    #user_info .point p span:last-child {
        width: 30%;

        font-size: 25px;
    }
    #user_info .button-area {
        margin-top: 60px;
        margin-bottom: 40px;

    }
    #user_info .button-area .btn-blue {
        font-size: 1.2em;
    }
    #user_info .colse_btn .close_modal {
        color: #808080;
        font-size: 18px;
        font-weight: normal;
        background: url(../img/cross_button.png) no-repeat -1px center;
        background-size: 14px;
        padding-left: 20px;
    }
    .actual_result_img_pc{
        width: 94.3%;
    }
    .banner,.review-title {
        margin-top: 68px!important;
    }
    .footer-sp{
        display: block;
    }
    .footer-pc{
        display: none;
    }
    /*footer sp*/
    #visible-lp {
        display: block;
    }
    #visible-lp > p {
        margin-top: 10px;
        text-align: center;
    }
    .social-btn {
        font-size: 2.5vw;
    }
    .col-md-9.rank_cat_tab{
        margin-left: 0%;
    }

}
@media (max-width: 750px){
    .actual_result_img_pc{
      display: none;
    }
    .actual_result_sp{
        display: block;
        width: 100%;
    }
    .banner, .review-title {
        margin-top: 82px !important;
    }

    .points_table.col-xs-offset-1.col-xs-10.hidden-md {
        display: block!important;
    }
}
@media (max-width: 640px){
    #login_icon_sp a {
        font-size: 11px;
        margin-right: 3px;
        padding: 10px 11px;
    }
    .topbar .contact_btn ul li p .top-right-contact-btn {
        font-size: 10px!important;
        padding: 5px 12px !important
    }
    #logout_icon_sp > a > img {
        float: right;
        width: 100%;
    }
    .banner, .review-title {
        margin-top: 69px !important;
    }
    .social-btn {
        font-size: 4vw;
    }
    .login_btn > a, .signup_btn > a, .login_btn > a:hover, .signup_btn > a:hover {
        padding-bottom: 9px !important;
        padding-top: 9px !important;
        margin-top: 8px !important;
        padding-left: 13px !important;
        padding-right: 13px !important;
        margin-right: 0;
    }

    .col-md-5.point-table {
      display: inline-block;
       width: 100%;
    }

    .points_table.col-xs-offset-1.col-xs-10.hidden-md {
        display: block!important;
    }
}
@media (max-width: 480px){
  .footer_main .footer_slogan .slogan {
      text-align: left;
  }
  .txt_cap{
    display: inline-block;
  }
  .oc-logo{display: inline-block;}
  .sp_oc_logo img {
    width: 46.3px;
    max-width: 100%;
    vertical-align: text-bottom;
}





    .social-btn {
        font-size: 4vw;
    }
    .review-title {
        margin-top: 56px!important;
    }
    .modal_btn {
        padding: 5px 15px !important;
    }
    .footer_confirm_btn > h3, .points_sec > .points_title {
       font-size: 15px;
    }
    #login_icon_sp a {
        font-size: 11px;
        margin-right: 3px;
        padding: 8px 8px 6px;
    }
    #visible-sp > p > a{
        margin-left: 0px;
        margin-right: 2px;
    }
    .topbar .contact_btn ul li p .top-right-contact-btn {
        font-size: 8px!important;
        padding: 5px!important;
    }
    #logout_icon_sp > a {
        margin-right: 5px;
    }
    #logout_icon_sp {
        width: 40px;
    }
    #logout_icon_sp > a > img {
        width: 100%;
    }
    .main_content .post .post_item .post_desc .post_content {
        margin-bottom: 3px !important;
    }
    .con_sup_img {
        margin-right: 0;
        margin-left: 0;
        width: 48px;
        padding: 4px 0 2px;
        margin-top: 0;
    }

    #user_info .modal_main {
        width: 80% !important;
    }
    #user_info .modal_main .modal_body {
        padding-left: 21px;
        padding-right: 21px;
    }
    #user_info .subtitle {
        margin-top: 20px;
        font-size: 1em;
    }
    #user_info .avatar {
        text-align: center;
        margin-top: 20px;
    }

    #user_info .avatar img {
        width: 100%;
        margin: 0 auto;
    }
    #user_info .username {
        font-size: 18px;
        color: #0055B4;
        font-weight: bold;
    }

    #user_info .pointarea {
        position: relative;
        margin-top: 30px;
    }
    #user_info .pointarea .groupname {
        border-bottom: 1px solid #0055B4;
        padding-bottom: 5px;
    }
    #user_info .pointarea .groupname span {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
        padding-left: 15px;
        font-weight: bold;
        font-size: 1em;
    }
    #user_info .pointarea .groupname img {
        display: inline-block;
        width: 25%;
    }

    #user_info .point {
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #user_info .point p {
        border-bottom: 1px solid #0055B4;
        font-size: 14px;
    }
    #user_info .point p span {
        display: inline-block;
    }
    #user_info .point p span:first-child {
        width: 65%;
    }
    #user_info .point p span:last-child {
        width: 30%;

        font-size: 25px;
    }
    #user_info .button-area {
        margin-top: 60px;
        margin-bottom: 40px;

    }
    #user_info .button-area .btn-blue {
        font-size: 1em;
    }
    #user_info .colse_btn .close_modal {
        color: #808080;
        font-size: 18px;
        font-weight: normal;
        background: url(../img/cross_button.png) no-repeat -1px center;
        background-size: 14px;
        padding-left: 20px;
    }


    .login_icon_sp_d {
        float: right !important;
        margin-right: 20px !important;
        width: 40px !important;
    }
    .login_icon_sp_d a {
        margin-top: 0;
    }

    .navmenu form #navMenuList.form-control {
        margin-left: 10px!important;
    }
    .post > .post_inner > img {
        margin: 0 auto;
        max-width: 300px;
    }
    .ponts_price {
        font-size: 20px;
    }
    .points_table.col-xs-offset-1.col-xs-10.hidden-md {
        display: block!important;

    .details_rank {
       padding-left: 15px !important;
    }

    .details_rank img {
        width: 50% !important;
    }
}
@media (max-width: 480px){
  .banner_sp{
    padding-left: 0px;
    padding-right: 0px;
  }
  .dtl_banner_sp{
    height: 175px;
  }
  .social_icon{
    display: none;
  }
  .social_icon_sp{
    display: block;
    text-align: center;
   min-height: 319px;
  }
  .social_icon_sp a{
    margin: 5px;
  }
  .tab_menu ul li a {
      padding: 5px 5px;
  }
  .tab_menu ul li {
      /*margin-right: 5px;*/
      margin-bottom: 5px;
  }
  .text_part h4{
    padding-left: 16px;
  }
  .col-md-6.details_para{
    margin-bottom: 0px;
  }
  .col-md-9.rank_cat_tab {
  }
  .tab_menu {
    margin-top: 8px;
   }

.details_para{
  position: relative;
  top: -6px;
}
.col-md-5.point-table {
      display: inline-block;
       width: 100%;
    }

.details_rank span {
    font-size: 3.1vw !important;
}
.ltc {
    font-size: 3.1vw!important;
}

.login_byemail_btn{
    float: none!important;
}
.topbar_wp {
    padding-bottom: 5px;
}
.banner, .review-title {
    margin-top: 51px !important;
}
.nav>li {
    position: relative;
    float: left;
}
.nav li.rank img {
    width: 52%;
}
.nav li.rank {
    padding-right: 0;
    width: 70px;
    padding-top: 6px;
    font-size: 12px;
}
.login_btn > a, .signup_btn > a, .login_btn > a:hover, .signup_btn > a:hover {
    padding-bottom: 6px !important;
    padding-top: 5px !important;
    margin-top: 8px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-right: 0;
    font-size: 11px;
}

.points_table.col-xs-offset-1.col-xs-10.hidden-md {
    display: block!important;
}
}





@media (max-width:400px){
    .main_content .post .post_item .post_desc .post_content {
        font-size: 10px;
    }

    .col-md-5.point-table {
      display: inline-block;
       width: 100%;
    }

    .points_table.col-xs-offset-1.col-xs-10.hidden-md {
        display: block!important;
    }

}
@media (max-width: 375px){
  span.percentage {
    position: relative;
    top: -18px;
    left: 8px;
}

  a.invite_link {
    /*left:-17px;*/
  }
  h3.title.fs_16 {
      font-size: 16px;
  }
.fs_17 .title{
  padding-left: 10px !important;
}
.text_part.fs_17 > p{
  padding-left: 10px;
}
.rank_cat_tab span{
  font-size: 9px;
}
.pro_rnk{
 /* position: relative;
  top: -10px;*/
}
.col-md-9.rank_cat_tab {
   /* margin-left: 31%;*/
}
.tab_menu ul li a {
    padding: 5px 11px;
    font-size: 2.7vw;
}
.fs_17{
      min-height: 41px;
}
.dtl_rnks img{
  width: 63% !important;
}

.col-md-5.point-table {
      display: inline-block;
       width: 100%;
    }


    .main_content .post {
        height: 229px!important;
    }
    /*issue fix sazib*/
    .main_content .ajax_post{
      height: 252px!important;
    }
    .all_post{
        margin-top:5px;
    }
    .post_item > .post_thumb {
        min-height: 113px!important;
    }
    .post_thumb > .item_title{
        display: none;
    }
    .main_content .post .post_item .post_thumb .item_label {
        font-size: 12px !important;
        padding: 5px 10px 3px !important;
        top: 88px !important;
        z-index: 2;
    }
    .main_content .post .post_item .post_thumb img {
        z-index: 1;
    }
    .post_desc > .item_title{
        display: block;
    }
    .post_desc > .item_title > span.title {
        font-weight: bold!important;
        margin-left: -3px;
        font-size: 12px;
    }
    .post_desc > .item_title > span.percentage {
        font-weight: bold!important;
        color:#fc6464dd;
        font-size: 12px;
        float:right;
    }
    .post_content{
        font-size: 12px!important;
    }
    .support_by{
        margin-top:0;
    }
    .support_by p{
        margin-left: 11px!important;
        font-size: 9.5px!important;
    }
    .support_by h4{
        margin-left: 11px!important;
        font-size: 10px!important;
        margin-top:4px!important;
    }
    .sup_pc{
        display: none;
    }
    .sup_sp{
        display: block;
    }
    .no-padding-sp{
        padding: 0;
    }
    .con_sup_img{
        height: 30px;
        /*margin-top: -4px;*/
        /*margin-right: -6px;*/
        /*padding: 6px 0 2px;*/
    }
    .con_sup_img img{
        width:80%;
        margin: 0 auto;
    }
    #visible-lp{
        display: block;
        text-align: center;
            }
    #visible-lp p{
        margin-top: 11px;
    }
    #visible-lp p a{
        font-size: 12.5px;
        padding: 11px 12px 10px 19px;
        margin-left: -20px;
    }
    .load_more_post{
        margin-top: 0px!important;
        height: 9px!important;
        padding-top: 0px!important;
    }
    .footer_main .footer_right_logo .right_logo{
        right: 0px!important;
        top: -30px!important;
    }
    .footer_main .footer_slogan .slogan {
        margin-top: -3px!important;
        padding-right: 0;
    }
    .main_content .load_more_post .main_load .spinner {
        margin: 10px auto 0!important;
    }

    .points_table.col-xs-offset-1.col-xs-10.hidden-md {
        display: block!important;
    }
}
@media (max-width: 360px){
  a.invite_link {
    left:-23px;
  }
  .navmenu form #navMenuList.form-control {
  margin-left: 0px!important;
  }
  .navmenu form {
  margin-left: 0px!important;
}
    .footer_main .footer_slogan .footer_title {
        font-size: 10px!important;
    }
    .footer_main .footer_slogan .slogan {
        font-size: 6px!important;
    }
    #login_icon_sp a {
        font-size: 11px;
        margin-right: 3px;
        padding: 5px 4px 3px;
    }
    #visible-sp > p{
        padding-right: 0px;
    }
    #logout_icon_sp > a > img {
        width: 100%;
    }
    .topbar .contact_btn ul li p .top-right-contact-btn {
        font-size: 8px!important;
        padding: 2px!important;
    }
    .main_content .post .post_item .post_desc .post_content {
        font-size: 9.3px!important;
        font-weight: 500;
    }
    .post_content{
        font-size: 10px!important;
    }

    .col-md-5.point-table {
      display: inline-block;
       width: 100%;
    }

    .points_table.col-xs-offset-1.col-xs-10.hidden-md {
        display: block!important;
    }
}
@media (max-width: 320px){
    .topbar .contact_btn ul {
      float: right;
      width: 20px;
      margin-right: -29px;
  }
    .login_btn > a, .signup_btn > a, .login_btn > a:hover, .signup_btn > a:hover {
        font-size: 12px;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    #login_icon_sp a {
        font-size: 10px;
        padding: 7px 6px 5px;
        margin-top: 8px;
    }
    .footer_main .footer_right_logo .right_logo {
        top: -25px!important;
    }
    .con_sup_img {
        width: 38px;
    }
    .post_desc > .item_title > span.title {
        font-size: 10px;
    }
    .col-md-5.point-table {
      display: inline-block;
       width: 100%;
    }

    .points_table.col-xs-offset-1.col-xs-10.hidden-md {
        display: block!important;
    }
    .details_rank{
      padding-right: 0px !important;
    }
}


.col-md-offset-2.col-md-9.top-bg {
    background: #F0F0F0;
    padding: 10px 0px;
}

.col-md-offset-2.col-md-9.input-field-part {
    margin-top: 30px;
}

.col-md-5.point-table,
.pont_popup.col-md-4 {
    border: 1px solid #666;
    padding: 30px 15px;
    border-radius: 2px;
}

.input-part label {
    float: left;
    width: 100%;
    padding-bottom: 5px;
}

.input-part > .col-md-12{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.profile-email,
.profile-phone {
    padding: 10px;
    border-radius: 2px;
    border: 2px solid #666;
    width: 95%;
}

.col-md-8.col-sm-8.input-part,
.col-md-8.col-sm-8.input-part > .col-md-12,label,
.points_title.col-md-12.col-xs-12,
.points_sec.col-md-12
 {
    padding: 0px;
}

.points_sec.col-md-12 .col-md-3.col-xs-3 {
    padding-left: 15px;
}

.points_sec.col-md-12 .col-md-9.col-xs-9 {
    padding-right: 10px;
    padding-left: 0px;
}
.points_title.col-md-12.col-xs-12 {
    margin-top: 0px;
}

.col-md-12.col-xs-12.hidden-md.hidden-sm.hidden-lg {
    padding-top: 15px;
}

.points_table.col-xs-10.col-xs-offset-1 {
    padding: 0px 20px 0 6px;
}

.points_table.col-xs-10.col-xs-offset-1 {
    margin-bottom: 20px;
}


.points_table.col-xs-offset-1.col-xs-10.hidden-md {
    display: none;
}

@media only screen and (max-width: 375px) and (min-width: 375px)  {
    .fb img{
           margin: -4px -5px 4px 4px;
    }
    .twitter img{
            margin: -6px 5px 2px 6px;
    }
    .text_icon img{

    margin: -6px 8px 0 -5px;
    }
}

  /*fix header -Roktim*/
@media (width:320px) {
  .logo {
      width: 40%;
  }
  .topbar .logo .site_logo{
    width: 100%;
  }
  .main-navbar{
    width: 30%;
  }
  a.invite_link{
    padding: 1px 1px;
    left: -18px;
    margin-top: 8px;
  }
  .topbar .contact_btn ul{
    margin-right: 0px;
  }
  li#logout_icon_sp {
      position: relative;
      left: 124px;
      top: -44px;
  }
  .topbar_wp {
      height: 45px;
  }
}

@media (min-width: 320px) and (max-width: 768px){
    .top_title {
    margin-top: 53px;
    padding: 7% 0 5%;
    background: #f0f0f0;
}

.avator_small_img {
    max-width: 45px;
    margin-top: 13px;
    margin-left: 14px;
    width: 100%;
}

.avator_large_img {
    max-width: 101px;
    margin-left: 13px;
    margin-top: 2px;
    width: 100%;
}

.top_title img {
    width: 45%;
    margin-left: 15px;
}

.second_title {
    margin-left: 15px;
}

.second_title_img {
    width: 75%;
    padding: 20px 0px 20px 1px;
}

.second_subtitle_img {
    width: 20%;
    margin-bottom: 10%;
}
.avator_large_img {
    max-width: 55px;
    margin-left: 0px;
    margin-top: 2px;
}

.student-edit-profile-sp .col-xs-12 {
    width: 100%;
    padding: 0px;
}

.avator_small_img {
    max-width: 33px;
    margin-top: 13px;
    margin-left: 0px;
}

.student-edit-profile-sp .col-xs-1,
.student-edit-profile-sp .col-xs-2,
.student-edit-profile-sp .col-xs-3,
.student-edit-profile-sp .col-xs-4,
.student-edit-profile-sp .col-xs-5,
.student-edit-profile-sp .col-xs-6,
.student-edit-profile-sp .col-xs-7,
.student-edit-profile-sp .col-xs-8,
.student-edit-profile-sp .col-xs-9,
.student-edit-profile-sp .col-xs-10,
.student-edit-profile-sp .col-xs-11,
.student-edit-profile-sp .col-xs-12 {
    padding: 0px;
}
.container-part-sp {
    max-width: 90%;
    margin: 0 auto;
}

.col-xs-11.custom-part1 {
    margin-top: 30px;
    margin-bottom: 25px;
}

textarea.form-control {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top-banner-sp  input{display: none;}


.change-icon {
    max-width: 95px;
    margin: -85 auto;
    position: relative;
    display: block;
}
.student-edit-profile-sp .col-xs-12 {
    margin-bottom: 5px;
}

.student-edit-profile-sp label {
    padding-top: 2px;
    position: relative;
    top: 7px;
    font-size: 13px;
}

.col-xs-12.text-left.checkbox-title {
    padding-bottom: 20px;
}

.checkbox-text .col-xs-12 {
    font-size: 11px;
}
#user_info .pointarea .groupname span {
    width: 44%;
}
.modal-dialog.container-part-sp {
    margin-top: 100px;
}

.confirm-text-sp {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.close.btn.btn-default {
    background: #0055B4;
    font-size: 11px;
    padding: 12px 0px;
    width: 110px;
    color: #fff;
    float: left;
    margin-left: 10px;
}
.home-redirect {
    border: 1px solid #0055B4;
    padding: 11px 17% 13px;
    font-size: 12px;
    position: relative;
    top: 8px !important;
    left: 25px;
}
img.banner_img_sp {
    max-width: 100%;
    margin-bottom: 30px;
}

textarea.form-control,
textarea.form-control:focus {
    border: 0px;
    box-shadow: none;
    color: #4e4e4e;
    padding-left: 0px;
}

.col-xs-12.field-sp {
    border-top: 1px solid #ccc;
    padding: 7px 0px 3px 0px;
}

.col-xs-12.field-sp.last-part {
    border-bottom: 1px solid #ccc;
}

.form-control, .form-control:focus {
    border: none;
    box-shadow: none;
}

.field-sp select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 2px;
    border: none;
    background: transparent url("../img/student_group/sp-arrow.jpg") no-repeat right center;
}

.student_group_form{
    padding: 2.7% 0;
    border-top:1px solid #000;
}
  }
