/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
  color: #4d4d4d;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
  overflow-x: hidden ;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
select::-ms-expand {
  display: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*
================
Define all default settings
================
*/
.color-red {
  color: #fc6464;
}
.color-blue {
  color: #0055b4;
}
.color-gray {
  background: #4d4d4d;
}
.bg-red {
  background: #fc6464;
  color: #fff;
}
.bg-blue {
  background: #0055b4;
  color: #ffffff;
}
.bg-gray {
  background: #4d4d4d;
}
.border-radius-0 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: none;
  border-color: transparent;
  text-shadow: none;
}
.btn-red {
  background: #fc6464;
  color: #fff;
  padding: 8px 12px;
}
.btn-blue {
  background: #0055b4;
  color: #ffffff;
}
.btn-gray {
  background: #4d4d4d;
  color: #fff;
}
.btn-gray:hover {
  background: #4d4d4d;
  color: #fff;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  background-color: transparent;
}
.btn-blue:hover,
.btn-blue:focus {
  background: #0055b4;
  text-shadow: none;
  color: #ffffff;
}
.btn-red:hover,
.btn-red:focus {
  background: #e66363;
  text-shadow: none;
  color: #ffffff;
}
.btn-bordered {
  background: none;
  border-color: #0055b4;
  color: #0055b4;
  padding: 8px 25px;
  font-size: 20px;
}
.btn-bordered:hover,
.btn-bordered:focus {
  background: none;
  border-color: #0055b4;
  color: #0055b4;
}
.clearfix_s {
  *zoom: 1;
}
.clearfix_s:before,
.clearfix_s:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix_s:after {
  clear: both;
}
.padding-left-0 {
  padding-left: 0;
}
.padding-right-0 {
  padding-right: 0;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.font-family {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono" !important;
}
@media (min-width: 990px) {
  .container {
    width: 1060px;
  }
}
/*
=================
TOP SECTION
=================
*/
.topbar .contact_btn ul {
  /* padding-right: 46px;*/
  padding-right: 8px;
}
.topbar .contact_btn ul li a {
  padding: 10px 21px;
}
.topbar .contact_btn ul li p {
  padding-right: 20px;
  margin-bottom: 0;
}
.topbar .contact_btn ul li p .top-right-contact-btn {
  font-size: 16px;
  font-weight: 800;
  padding: 14px 18px 13px 23px;
}
.topbar .logo {
  padding-left: 15px;
  padding-top: 2px;
}
.topbar .logo .site_logo {
  padding-top: 10px;
  width: 89%;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.banner .owl-controls {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 1px;
}
.banner .owl-controls .owl-nav .owl-prev {
  position: absolute;
  left: 32px;
  width: 10px;
  height: 21px;
  z-index: 99;
  background: url('../img/prev_btn.png') no-repeat center center;
}
.banner .owl-controls .owl-nav .owl-next {
  position: absolute;
  right: 63px;
  height: 21px;
  width: 10px;
  z-index: 99;
  background: url('../img/next_btn.png') no-repeat center center;
}
.banner .owl-carousel .item .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.banner .owl-carousel .item .caption .caption_inner {
  margin-left: 88px;
}
.banner .owl-carousel .item .caption .caption_inner .item-title {
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 14px;
}
.banner .owl-carousel .item .caption .caption_inner .review {
  background: #ffffff;
  bottom: 23px;
  padding: 10px;
  position: absolute;
  right: 7.2%;
  width: 338px;
  height: 133px;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner {
  position: relative;
  min-height: 108px;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_img {
  display: inline-block;
  vertical-align: top;
  width: 36%;
  position: relative;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_img img {
  width: 100%;
  height: 75px;
  object-fit: cover;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_img .review-list-btn {
  margin-bottom: 0;
  margin-top: 10px;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_img .review-list-btn a {
  display: block;
  padding: 2px 8px;
  border: 1px solid #0055b4;
  font-size: 1em;
  text-align: center;
  width: 100%;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_img .review-list-btn a:hover,
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_img .review-list-btn a:focus,
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_img .review-list-btn a:active {
  text-decoration: none;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_content {
  display: inline-block;
  vertical-align: top;
  width: 58%;
  padding-left: 10px;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_content .title {
  margin: 0;
  font-size: 12px;
  padding-bottom: 2px;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_content .title_2 {
  margin: 0;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 15px;
}
.banner .owl-carousel .item .caption .caption_inner .review .review_inner .review_content p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 15px;
}
.navmenu {
  margin-left: 0;
  margin-right: 0;
  margin-top: 25px;
  margin-bottom: 10px;
}
.navmenu .search-form-holder {
  padding-right: 0;
}
.navmenu #category_diff.form-control,
.navmenu #navMenuList.form-control {
  width: 224px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 57px;
  font-size: 18px;
  border: 1px solid #0055b4;
  border-bottom-width: 2px;
  color: #0055b4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/select_down.png) no-repeat 180px 21px;
  -webkit-background-size: 24px 14px;
  background-size: 24px 14px;
  overflow: auto !important;
}
.navmenu #category_diff.form-control {
  width: 269px;
  margin-left: 10px;
  background-position: 226px 21px;
  padding-right: 48px;
}
.navmenu form {
  margin-top: 21px;
  position: relative;
}
.navmenu form .btn {
  padding: 13px 14px;
  margin-left: initial;
  position: absolute;
  right: -12px;
  top: 1px;
}
.navmenu form .btn i {
  font-size: 25px;
}
.navmenu .navmenu_right .top .title {
  display: inline-block;
  margin-top: 2px;
  font-weight: bold;
  font-size: 24px;
  padding-left: 26px;
}
.navmenu .navmenu_right .top .contact_btn {
  display: inline-block;
  float: right;
}
.navmenu .navmenu_right .top .contact_btn .btn-review-top {
  padding: 5px 27px 3px;
  font-size: 12px;
}
.navmenu .navmenu_right .bottom img {
  float: left;
  padding-right: 10px;
  width: 87px;
  padding-left: 27px;
  padding-top: 6px;
}
.navmenu .navmenu_right .bottom p {
  float: left;
  width: 77%;
  text-align: justify;
  font-size: 11px;
  margin-left: -4px;
  padding-top: 3px;
  font-weight: bold;
}
.text-muted label {
  color: #cccccc !important;
}
.text-muted .form-control {
  border-color: #cccccc !important;
  color: #cccccc !important;
}
.text-muted select {
  color: #cccccc !important;
  border-color: #cccccc !important;
}
/*
=============
Content area
=============
*/
.main_content {
  width: 91%;
  margin: 0 auto;
  position: relative;
  *zoom: 1;
}
.main_content:before,
.main_content:after {
  display: table;
  content: "";
  line-height: 0;
}
.main_content:after {
  clear: both;
}
.main_content .post {
  margin-bottom: 30px;
  height: 301px;
}
.main_content .post .post_item {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #f0f0f0;
}
.main_content .post .post_item .post_thumb {
  position: relative;
  height: 203px;
  overflow: hidden;
}
.main_content .post .post_item .post_thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.main_content .post .post_item .post_thumb .item_label {
  position: absolute;
  top: 12px;
  left: 0;
  padding: 5px 20px;
  background: #fc6464;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.main_content .post .post_item .post_thumb .item_title {
  position: absolute;
  bottom: 0;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-size: 22px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.main_content .post .post_item .post_thumb .item_title .percentage {
  float: right;
  color: #fc6464;
  font-weight: bold;
}
.main_content .post .post_item .post_thumb .item_title .title {
  color: #0055b4;
  font-weight: bold;
}
.main_content .post .post_item .post_thumb:hover .item_title {
  background: rgba(0, 0, 0, 0.09);
}
.main_content .post .post_item .post_desc {
  background: #f0f0f0;
  color: #4d4d4d;
  padding: 12px;
  padding-top: 5px;
}
.main_content .post .post_item .post_desc .post_content {
  margin: 0;
}
.main_content .post .post_item .post_desc .post_action {
  padding-top: 3px;
}
.main_content .post .post_item .post_desc p {
  margin: 0;
}
.main_content .post .post_item .post_desc .button {
  display: inline-block;
  vertical-align: top;
}
.main_content .post .post_item .post_desc .button .btn-big {
  padding: 20px 30px;
}
.main_content .post .post_item .post_desc .button .btn-big:hover {
  color: #4d4d4d;
  background: #ffffff;
}
.main_content .post .post_item .post_desc .support_by {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  padding-left: 6px;
}
.main_content .post .post_item .post_desc .support_by h4 {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0;
}
.main_content .post .post_item .post_desc .support_by p {
  margin-bottom: 0px;
}
.main_content .post .post_item .post_desc .support_by p:first-child {
  font-size: 10px;
  margin-top: -2px;
}
.main_content .post .post_item .post_desc .support_by ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main_content .post .post_item .post_desc .support_by ul li {
  display: inline-block;
  margin: 0;
}
.main_content .post .post_item .post_desc .support_by ul li a {
  display: block;
  border: 1px solid #4d4d4d;
  height: 25px;
  width: 25px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.main_content .post .post_item .post_desc .support_by ul li a:hover {
  text-decoration: none;
}
.main_content .post .post_item .post_desc .support_by ul li:last-child {
  vertical-align: bottom;
}
.main_content .post_in_blog .post {
  height: auto !important;
}
.main_content .post.empty_posts_container {
  height: 100px;
  padding-top: 20px;
}
.main_content .post.empty_posts_container .empty-title {
  color: #666666;
}
.main_content .ajax_post {
  display: none;
}
.main_content .load_more_post {
  height: 100px;
  padding-top: 30px;
}
.main_content .load_more_post li {
  list-style: none;
  text-align: center;
}
.main_content .load_more_post .main_load {
  top: -5px;
}
.main_content .load_more_post .main_load .spinner {
  margin: 40px auto 0;
}
.main_content .load_more_post .next a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: none;
  border-color: transparent;
  text-shadow: none;
  background: #0055b4;
  color: #ffffff;
  padding: 10px 154px 14px;
  font-size: 20px;
}
.main_content .load_more_post .next a:hover,
.main_content .load_more_post .next a:focus {
  background: #0055b4;
  text-shadow: none;
  color: #ffffff;
}
.post_rank {
  position: relative;
  text-align: right;
}
.post_rank img {
  width: 87%;
  margin-left: 5px;
}
.details_rank {
  position: relative;
}
.details_rank span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.details_rank img {
  width: 68%;
  margin-left: 0;
}
.entry_content_rank {
  position: relative;
  padding-right: 0;
  font-size: 11px;
}
.entry_content_rank span {
  position: absolute;
}
.entry_content_rank img {
  width: 40%;
  margin-left: 30px;
}
.show_recent_group_name p {
  text-align: center;
}
.main_home {
  position: relative;
}
/*
Loading
*/
.main_load {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  display: none;
  background: #ffffff;
  /*display: none;*/
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FC6464;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*
=====================
FOOTER AREA
=====================
*/
.sp_oc_logo img {
  max-width: 46.5px;
  width: 100%;
}
.no_logo {
  display: inline-block;
}
.footer_main {
  background: #f0f0f0;
  color: #0055b4;
  padding: 33px 30px 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 22px;
}
.footer_main .footer_left_logo {
  padding: 0;
  padding-left: 10px;
}
.footer_main .footer_left_logo img {
  max-width: 100%;
  width: 160px;
}
.footer_main .footer_slogan {
  padding-left: 42px;
}
.footer_main .footer_slogan .footer_title {
  margin: 0;
  padding-bottom: 6px;
  font-size: 20.6px;
}
.footer_main .footer_slogan .slogan {
  font-size: 10.5px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: -25px;
}
.footer_main .footer_right_logo .footer_no {
  display: inline-block;
}
.footer_main .footer_right_logo .footer_no .no {
  display: block;
  width: 42px;
  height: 44px;
  border: 2px solid #0055b4;
  padding-top: 5px;
  font-size: 11px;
  text-align: center;
}
.footer_main .footer_right_logo .no_text {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0px 0px 7px;
}
.footer_main .footer_right_logo .no_text p {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
}
.footer_main .footer_right_logo .right_logo img {
  width: 93px;
  max-width: 100%;
}
.footer_main .footer_right_logo .footer_title {
  font-size: 14px;
  margin: 32px 0 0;
  padding-bottom: 6px;
  font-weight: bold;
}
/*
==============
DETAILS PAGE
==============
*/
.details_top {
  margin-top: 90px;
}
/*.details_top {
  margin-top: 13px;
}*/
.details_top {
  margin-top: 13px;
}
.details_top .title {
  font-size: 36px;
  margin-bottom: 0;
}
.details_top p {
  margin-bottom: 0;
}
.details_top .price_sec {
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 9px;
}
.details_top .price_sec .logos {
  padding-left: 1px;
}
.details_top .price_sec .logos span {
  position: absolute;
  font-size: 14px;
  letter-spacing: 3px;
}
.details_top .price_sec .logos a {
  margin-left: 118px;
}
.details_top .price_sec .logos a img {
  width: 56%;
  margin-top: 10px;
}
.details_top .price_ span {
  position: absolute;
  left: 40px;
}
.details_top .price_ .title {
  margin-left: 106px;
  font-size: 5.5em;
  margin-top: 12px;
}
.details_top .price_btn {
  padding-top: 7px;
}
.details_top .price_btn p {
  text-align: center;
  padding-left: 38px;
}
.details_top .price_btn p .btn {
  padding: 19px 37px;
  font-size: 2.3em;
}
.details_top .price_sec:after,
.details_top .price_sec:before {
  display: table;
  content: '';
}
.details_top .price_sec:after {
  clear: both;
}
.home_details {
  margin-top: 25px;
}
.points_sec {
  position: relative;
}
.points_sec:after,
.points_sec:before {
  display: table;
  content: '';
}
.points_sec:after {
  clear: both;
}
.points_sec .point_label {
  display: inline-block;
  vertical-align: top;
  font-size: 1.8333em;
}
.points_sec .points {
  display: inline-block;
  vertical-align: top;
}
.points {
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  list-style: none;
  margin-left: 1px;
}
.points li {
  float: left;
  margin-right: 1px;
  height: 28px;
  width: 28px;
  border: 1px solid #4d4d4d;
  border-radius: 30px;
  margin-top: 4px;
}
.content {
  margin-top: 3px;
}
.content p {
  line-height: 35px;
  font-size: 17px;
  letter-spacing: .3px;
}
.recent_posts {
  margin-top: 30px;
  margin-left: -26px;
  margin-right: -34px;
}
.recent_posts .post {
  margin-bottom: 20px;
  padding-left: 12px;
  padding-right: 19px;
}
.recent_posts .post .post_inner {
  width: 94%;
  background: #ffffff !important;
  margin: 0 auto;
}
.recent_posts .post .details {
  padding-top: 20px;
}
.load_more {
  position: relative;
  padding: 25px 0;
}
.load_more p {
  padding-right: 11px;
}
.load_more p .btn {
  padding: 20px 149px;
  font-size: 30px;
}
.load_more:after,
.load_more:before {
  display: table;
  content: '';
}
.load_more {
  clear: both;
}
.user_circle_title {
  padding: 13px 0;
  border-top: 1px solid #4d4d4d;
  margin-top: 28px;
}
.user_circle_main {
  margin-top: 25px;
  margin-left: -3px;
  margin-bottom: 29px;
}
.user_circle_main .user_circle {
  padding-bottom: 24px;
  border-bottom: 1px solid #4d4d4d;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;
}
.user_circle_main .user_circle .post_thumb {
  padding-left: 0;
  padding-right: 36px;
  overflow: hidden;
}
.user_circle_main .user_circle .post_thumb img {
  width: 100%;
}
.user_circle_main .user_circle .user_circle_content {
  margin-left: -10px;
}
.user_circle_main .user_circle .user_circle_content .post_title {
  margin: 0;
  font-size: 31px;
  padding-top: 4px;
  padding-bottom: 25px;
}
.user_circle_main .user_circle .user_circle_content .details p {
  line-height: 28px;
  font-size: 16.77px;
}
.user_circle_main .user_circle:last-child {
  border-bottom: none;
}
.similar_posts {
  margin-top: 31px;
  margin-left: -18px;
}
.similar_posts .post {
  height: auto;
}
.similar_posts .load_more {
  padding-top: 24px;
  margin-bottom: 26px;
}
.similar_posts .load_more p {
  padding-right: 2px;
}
.similar_posts .load_more p .btn {
  padding: 8px 136px;
}
/*
================
MODAL AREA
================
*/
#review_modal > .modal_main {
  width: 463px;
}
#review_modal > .modal_main > .modal_body {
  padding: 23px 45px 23px 48px;
}
#review_modal > .modal_main > .modal_body .modal_sec h3.title {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 2px;
}
#review_modal > .modal_main > .modal_body .modal_sec h3.logo_title {
  margin-top: 6px;
  font-size: 20px;
}
#review_modal > .modal_main > .modal_body .modal_sec h3.bottom_logo {
  margin-top: 6px;
  font-size: 22px;
  margin-bottom: 4px;
}
#review_modal > .modal_main > .modal_body .modal_sec p.grade_title {
  margin-top: 8px;
  margin-bottom: 4px;
}
#review_modal > .modal_main > .modal_body .modal_sec p.sub_title {
  margin-top: 8px;
  margin-bottom: 4px;
}
.modal_shadow {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
.modal_shadow .modal_main {
  width: 560px;
  margin: 130px auto;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffffff;
  min-height: 300px;
  margin-top: -100%;
}
.modal_shadow .modal_main .modal_header {
  position: relative;
  z-index: 99;
}
.modal_shadow .modal_main .modal_header .close_modal {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #4d4d4d;
  font-size: 2.3em;
  font-weight: normal;
  cursor: pointer;
  background: url(../img/cross_button.png) no-repeat center center;
  height: 20px;
  width: 20px;
}
.modal_shadow .modal_main .modal_body {
  padding: 23px 56px;
  position: relative;
}
.modal_shadow .modal_main .modal_body #preloader {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal_shadow .modal_main .modal_body .modal_sec {
  border-bottom: 1px solid #0055b4;
  padding-bottom: 6px;
}
.modal_shadow .modal_main .modal_body .modal_sec .title {
  color: #0055b4;
  font-weight: 600;
  padding-top: 3px;
}
.modal_shadow .modal_main .modal_body .modal_sec .sub_title {
  line-height: 22px;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_logos {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_logos li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 56px;
  position: relative;
  margin-right: 5px;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_logos li p {
  margin: 8px 0 7px;
  padding: 0;
  text-align: center;
  font-size: 10px;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_logos li img {
  width: 100%;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_lg_logo {
  padding-top: 12px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 25%;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_lg_logo img {
  width: 100%;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_list {
  display: inline-block;
  vertical-align: top;
  width: 73%;
  padding-left: 10px;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li {
  padding: 0;
  margin: 13px 0 8px;
  background: #979797;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li a {
  color: #ffffff;
  font-size: 10px;
  padding: 7px;
  display: block;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li a:active,
.modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li a:focus,
.modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li a:hover {
  text-decoration: none;
}
.modal_shadow .modal_main .modal_body .modal_sec .modal_list p a {
  color: #000000;
  font-size: 11px;
}
.modal_shadow .modal_main .modal_body .modal_sec .client_logos {
  padding-top: 3px;
}
.modal_shadow .modal_main .modal_body .modal_sec .client_logos ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.modal_shadow .modal_main .modal_body .modal_sec .client_logos ul li {
  display: inline-block;
  width: 103px;
  position: relative;
  margin-bottom: 8px;
  margin-right: 10px;
}
.modal_shadow .modal_main .modal_body .modal_sec .client_logos ul li a {
  display: block;
}
.modal_shadow .modal_main .modal_body .modal_sec .client_logos ul li a img {
  width: 100%;
}
.modal_shadow .modal_main .modal_body .modal_sec .client_logos ul li img {
  width: 100%;
}
.modal_shadow .modal_main .modal_body .modal_sec:last-child {
  border-bottom: none;
}
.error_container {
  margin-left: -13px;
  margin-right: -13px;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  text-align: left;
}
#group_notification .modal_body {
  padding: 23px 86px;
}
#group_notification .modal_body .title {
  font-size: 18px;
  margin-bottom: 20px;
}
#group_notification .modal_body .subtitle {
  margin-bottom: 40px;
}
#group_notification .modal_body p {
  font-size: 13px;
}
#group_notification .modal_body label {
  padding-right: 0;
}
#group_notification .modal_body label.org-label {
  padding-top: 0;
}
#group_notification .modal_body .login_byemail_btn {
  padding: 8px 55px;
}
#group_notification .modal_body .afterRegister {
  display: none;
  font-size: 3em;
  margin-top: 18%;
}
#group_notification .modal_body .afterRegister p {
  font-size: 1em;
}
.error_container {
  display: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(128, 128, 128, 0.8) url('../img/loading.gif') 50% 50% no-repeat;
}
.tabs-content {
  height: auto;
  overflow: hidden;
}
.tabs-content .tab {
  display: none;
  height: auto;
  /* transition: opacity 0.1s linear 0s;*/
  opacity: .8;
}
.tabs-content .tab.active {
  display: block;
  /* transition: opacity 0.2s ease-out 0.1s;*/
  opacity: 1;
}
.first-search,
.second-search {
  display: none;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .footer_mid_content {
    margin-left: -5%;
  }
  a.right_logo {
    margin-left: 24px;
  }
  .no {
    position: relative;
    top: 7px;
  }
  .navmenu .navmenu_right .bottom p {
    width: 77%;
    font-size: 11.5px;
  }
  .navmenu .navmenu_right .bottom img {
    width: 80px;
  }
  .footer_main .footer_slogan {
    padding-left: 0;
  }
  .footer_main .footer_slogan .footer_title {
    font-size: 15px;
  }
}
.price_sec_btn {
  display: none;
}
@media (max-width: 991px) and (min-width: 769px) {
  .footer_mid_content {
    width: 100% !important;
  }
  .on_logo {
    overflow: hidden;
  }
  .footer_no {
    float: left;
    display: block !important;
    width: 20%;
    overflow: hidden;
  }
  .no_text {
    width: 60%;
    float: left;
    display: block !important;
    margin: 5px 0px 0px 0px !important;
  }
  .footer_main .footer_right_logo .no_text p {
    font-size: 8px !important;
  }
  .no_logo a {
    float: left;
    width: 20%;
    overflow: hidden;
  }
}
/*
CODE ONLY FOR REVIEW PAGE
*/
.review-title {
  background: #F1EFF1;
  border-top: 1px solid #0055b4;
}
.review-title .title {
  margin: 0;
  padding: 40px 10px;
  font-size: 2.5em;
  font-weight: bold;
}
.home_reviewslist .review-lists {
  min-height: 100%;
  margin-left: 12px;
  margin-right: 12px;
}
.home_reviewslist .review-lists .review-list {
  position: relative;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #4D4D4D;
}
.home_reviewslist .review-lists .review-list:after,
.home_reviewslist .review-lists .review-list:before {
  display: table;
  content: '';
}
.home_reviewslist .review-lists .review-list:after {
  clear: both;
}
.home_reviewslist .review-lists .review-list .review-media {
  padding: 0;
  max-height: 250px;
  position: relative;
}
.home_reviewslist .review-lists .review-list .review-content {
  padding-right: 0;
  padding-left: 15px;
}
.home_reviewslist .review-lists .review-list .review-content .review-content-title {
  margin: 0;
  font-size: 2.5em;
  padding-bottom: 15px;
}
.home_reviewslist .review-lists .review-list .review-content p {
  font-size: 1.3em;
  padding-right: 5px;
  letter-spacing: -0.4px;
  margin-bottom: 0;
}
.home_reviewslist .review-lists .review-list .review-content p.review-content-details {
  font-size: 1.3em;
  padding-right: 5px;
  letter-spacing: -0.4px;
  margin-bottom: 0;
}
.home_reviewslist .review-lists .review-list:last-child {
  border-bottom: none;
}
@media (max-width: 990px) {
  .navmenu #navMenuList.form-control {
    width: 100%;
    padding-right: 50px;
    background-position: 100%;
    border-width: 0 0 0 2px;
    box-shadow: none;
    border-left: none;
  }
  .first-search {
    top: 19px;
  }
  .second-search {
    top: 96px;
  }
  .navmenu #category_diff.form-control {
    width: 100%;
    padding-right: 50px;
    background-position: 100% 21px;
    border-width: 0 0 0 2px;
    box-shadow: none;
    border-left: none;
    margin-left: 0;
  }
  .navmenu .navmenu_right .top .title,
  .navmenu .navmenu_right .bottom {
    display: none;
  }
  .navmenu form {
    margin-top: -6px;
    margin-left: 0;
    padding-bottom: 10px;
  }
  .navmenu .navmenu_right .top .contact_btn .btn-review-top {
    padding: 12px 27px 12px;
    font-size: 16px;
    background: #b5b5b5;
    color: #ffffff;
  }
  .topbar .contact_btn ul li a {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 32px;
    width: 104px;
    text-align: center;
  }
  .details_top .price_btn {
    display: none;
  }
  .details_top .price_sec_btn {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .details_top .price_sec_btn .btn-red {
    padding: 20px 149px;
    font-size: 30px;
  }
  .details_top .price_sec .logos a img {
    width: 50%;
  }
  .details_top .price_ .title {
    font-size: 3.5em;
  }
  .details_rank img {
    width: 45%;
  }
  .topbar .contact_btn ul {
    float: right;
  }
  .navmenu form .btn {
    display: none;
  }
  .navmenu form .form-control {
    border-bottom: 2px solid #0055b4 !important;
    padding-left: 20px !important;
  }
  .navmenu .navmenu_right .top .contact_btn {
    margin-top: 38px;
    margin-right: 9px;
  }
  .navmenu .navmenu_right .top .contact_btn .btn-review-top {
    padding: 11px 8px 1px;
    height: 62px;
    font-size: 20px;
    white-space: pre-line;
    line-height: 23px;
    width: 172px;
  }
  .first-search,
  .second-search {
    display: block;
    position: absolute;
    left: 0;
    height: 15px;
    width: 15px;
    background: url(../img/menu_search.png) no-repeat center center;
    background-size: 12px 12px;
  }
  .navmenu form #category_diff.form-control {
    margin-top: 17px !important;
  }
}
@media (max-width: 768px) {
  .footer_caption {
    display: flex;
    justify-content: center;
  }
  .navmenu .navmenu_right .top .contact_btn .btn-review-top {
    padding: 5px 27px 3px;
    font-size: 12px;
  }
  .navmenu .navmenu_right .top .contact_btn {
    margin-top: 9px;
    margin-right: 9px;
  }
  .navmenu .navmenu_right .top .contact_btn .btn-review-top {
    padding: 14px 8px 1px;
    height: 62px;
    font-size: 16px;
    white-space: pre-line;
    line-height: 17px;
    width: 102px;
  }
  .first-search {
    top: 7px;
    left: 10px;
  }
  .second-search {
    top: 55px;
    left: 10px;
  }
  .container {
    overflow: hidden;
  }
  .main_home {
    margin-left: 0;
    margin-right: 0;
  }
  .main_content {
    width: 94.3%;
  }
  .topbar .site_logo {
    padding-left: 10px;
  }
  .topbar .contact_btn {
    padding-left: 0;
  }
  .topbar .contact_btn .btn-red {
    margin-top: 7px;
  }
  .navbar-right .login_btn {
    display: none;
  }
  .banner {
    margin-top: 7px;
  }
  .banner .owl-carousel .item .caption {
    width: auto;
  }
  .banner .owl-carousel .item .caption .caption_inner {
    margin-left: 50px;
  }
  .banner .owl-carousel .item .caption .caption_inner .review {
    display: none;
  }
  .banner .owl-carousel .item .caption .caption_inner .item-title {
    font-size: 3em;
    margin-bottom: 6px;
  }
  .banner .owl-carousel .item p {
    margin-bottom: 0;
  }
  .banner .owl-carousel .owl-controls {
    display: none !important;
  }
  .navmenu .search-form-holder {
    padding-right: 0;
  }
  .navmenu form {
    margin-top: -6px;
    margin-left: 0;
    padding-bottom: 10px;
  }
  .navmenu form .form-group {
    display: inline;
  }
  .navmenu form #category_diff.form-control,
  .navmenu form #navMenuList.form-control {
    width: 100%;
    height: 29.5px;
    padding: 0;
    font-size: 16px;
    border: none;
    padding-right: 25px;
    box-shadow: none;
    margin-left: 10px;
    display: inline-block;
    margin-top: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/select_down.png) no-repeat 97% 12px;
    -webkit-background-size: 22px;
    background-size: 22px;
    overflow: auto !important;
  }
  .navmenu form #navMenuList.form-control {
    background-position: 97% 11px;
  }
  .navmenu form .btn {
    padding: 6px 12px;
    position: absolute;
    right: 0;
    top: 5px;
  }
  .navmenu form .btn i {
    font-size: 16px;
  }
  .navmenu .navmenu_right .top .title {
    display: none;
  }
  .navmenu .navmenu_right .bottom {
    display: none;
  }
  .main_content .post {
    padding-left: 0;
    padding-right: 0;
    height: 300px;
    margin-bottom: 20px;
  }
  .main_content .post .post_item .post_thumb {
    min-height: 180px;
    height: auto;
    position: relative;
  }
  .main_content .post .post_item .post_thumb img {
    width: 100%;
    max-height: 180px;
  }
  .main_content .post .post_item .post_thumb .item_title {
    font-size: 16px;
    padding: 10px;
  }
  .main_content .post .post_item .post_thumb .item_label {
    top: 102px;
  }
  .main_content .post .post_item .post_desc {
    padding: 10px;
    font-size: 12px;
  }
  .main_content .post .post_item .post_desc .item_title {
    color: #0055b3;
  }
  .main_content .post .post_item .post_desc .button {
    width: 45%;
  }
  .main_content .post .post_item .post_desc .button .btn-big {
    padding: 13px 28px;
    font-size: 12px;
  }
  .main_content .post .post_item .post_desc .support_by {
    margin-left: 0;
    width: 100%;
  }
  .main_content .post .post_item .post_desc .support_by p {
    font-size: 11px;
    margin-bottom: 0;
  }
  .main_content .post .post_item .post_desc .support_by p:first-child {
    font-size: 9px;
  }
  .main_content .post .post_item .post_desc .support_by ul li a {
    height: 10px;
    width: 10px;
    line-height: 5px;
  }
  .main_content .post:nth-child(odd) {
    padding-right: 9px;
    padding-left: 0;
  }
  .main_content .post:nth-child(even) {
    padding-left: 9px;
  }
  .main_content .load_more_post {
    clear: both;
  }
  .main_content .load_more_post .next a {
    padding: 12px 60px;
  }
  .load_more {
    padding: 0;
  }
  .load_more p .btn {
    padding: 9px 58px !important;
    font-size: 12px !important;
  }
  .details_top .title {
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  .details_top .price_sec {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
  }
  .details_top .price_sec .logos span {
    width: 52%;
    word-wrap: break-word;
    letter-spacing: 1px;
    display: table-cell;
    font-size: 9px;
    position: relative;
    padding-left: 11px;
  }
  .details_top .price_sec .logos p {
    display: table-cell;
  }
  .details_top .price_sec .logos p a {
    margin-left: 34px;
  }
  .details_top .price_sec .logos p a img {
    width: 100%;
  }
  .details_top .price_ {
    padding-top: 14px;
    padding-left: 33px;
  }
  .details_top .price_ .title {
    display: table-cell;
    font-size: 2em;
    padding-top: 9px;
  }
  .details_top .price_ span {
    display: table-cell;
    vertical-align: middle;
    font-size: 9px;
    position: relative;
    left: 0;
  }
  .details_top .details_rank span {
    font-size: 9px;
  }
  .details_top .price_btn {
    display: none;
  }
  .details_top .price_sec_btn {
    display: block;
    margin-top: 20px;
  }
  .details_top .price_sec_btn p {
    text-align: center;
  }
  .details_top .price_sec_btn .btn-red {
    padding: 8px 53px;
    font-size: 12px;
  }
  .home_details {
    margin-top: 11px;
  }
  .point_sec {
    padding-left: 16px;
    padding-right: 16px;
  }
  .point_sec .point_label {
    line-height: 28px;
  }
  .recent_posts .post {
    margin-bottom: 20px;
  }
  .recent_posts .post .details {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 11.77px;
    line-height: 26px;
  }
  .load_more p .btn {
    padding: 10px 50px;
    font-size: 22px;
  }
  .user_circle_main .user_circle {
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: none;
    margin-bottom: 3px;
    padding-bottom: 0;
  }
  .user_circle_main .user_circle .user_circle_content {
    padding-left: 41px;
    padding-top: 8px;
    padding-right: 10px;
  }
  .user_circle_main .user_circle .user_circle_content .details p {
    line-height: 26px;
    font-size: 11.77px;
  }
  .user_circle_main .user_circle .user_circle_content .post_title {
    display: none;
  }
  .user_circle_main .user_circle .post_thumb {
    padding: 0;
  }
  .user_circle_main {
    margin-bottom: 10px;
  }
  .similar_posts {
    display: none;
  }
  .footer_main {
    padding: 20px 10px;
  }
  .footer_main .footer_left_logo {
    display: none;
  }
  .footer_main .footer_slogan {
    padding-left: 0;
    padding-right: 0;
  }
  .footer_main .footer_slogan .footer_title {
    font-size: 20px;
  }
  .footer_main .footer_slogan .slogan {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 10px;
  }
  .footer_main .footer_right_logo .footer_no {
    display: none;
  }
  .footer_main .footer_right_logo .no_text {
    display: none;
  }
  .footer_main .footer_right_logo .right_logo {
    right: 25px;
    top: -60px;
    width: 80px;
  }
  .footer_main .footer_right_logo .right_logo img {
    max-width: 100%;
    width: 93px;
  }
  #group_notification .modal_body {
    padding: 23px 46px;
  }
  #group_notification .modal_body .title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  #group_notification .modal_body p {
    font-size: 14px;
    color: #9f9f9f;
  }
  #group_notification .modal_body .subtitle {
    margin-bottom: 40px;
    color: #808080;
  }
  #group_notification .modal_body label {
    padding-right: 0;
    color: #4d4d4d;
  }
  #group_notification .modal_body label.org-label {
    padding-top: 0;
  }
  #group_notification .modal_body .login_byemail_btn {
    padding: 8px 55px;
  }
  #group_notification .modal_body .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #797979;
    height: 42px;
  }
  /*
  CODE ONLY FOR REVIEW PAGE
  */
  .review-title {
    background: #F1EFF1;
    border-top: 1px solid #0055b4;
  }
  .review-title .title {
    margin: 0;
    padding: 19px 14px;
    font-size: 3.5vw;
  }
  .home_reviewslist .review-lists {
    min-height: 70%;
  }
  .home_reviewslist .review-lists .review-list {
    position: relative;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #4D4D4D;
  }
  .home_reviewslist .review-lists .review-list:after,
  .home_reviewslist .review-lists .review-list:before {
    display: table;
    content: '';
  }
  .home_reviewslist .review-lists .review-list:after {
    clear: both;
  }
  .home_reviewslist .review-lists .review-list .review-media {
    padding: 0;
    max-height: 150px;
  }
  .home_reviewslist .review-lists .review-list .review-media img {
    width: 96%;
  }
  .home_reviewslist .review-lists .review-list .review-content {
    padding-right: 0;
    padding-left: 4px;
  }
  .home_reviewslist .review-lists .review-list .review-content .review-content-title {
    margin: 0;
    font-size: 2.8vw;
    padding-bottom: 5px;
  }
  .home_reviewslist .review-lists .review-list .review-content .review-content-details {
    font-size: 2.1vw;
    padding-right: 5px;
    letter-spacing: 1px;
    padding-top: 3px;
  }
  .topbar .contact_btn ul li a {
    width: 104px;
  }
  .sp-review-btn {
    position: absolute;
    background: #B5B5B5;
    color: #ffffff;
    font-size: 4vw;
    z-index: 99;
    top: 10px;
    right: 20px;
    padding: 4px 10px;
  }
  .sp-review-btn a {
    color: #FFFFFF;
    display: block;
  }
  .sp-review-btn a:active,
  .sp-review-btn a:focus {
    text-decoration: none;
  }
}
@media (max-width: 480px) {
  .first-search {
    left: 0;
  }
  .second-search {
    left: 0;
  }
  .container {
    overflow: hidden;
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  #login_icon_sp {
    margin-right: 4px;
  }
  .topbar .logo {
    padding-left: 3px;
    padding-top: 2px;
  }
  .topbar .logo .site_logo {
    padding-top: 10px;
    width: 92%;
  }
  .topbar .contact_btn {
    padding-left: 0;
  }
  .topbar .contact_btn .top-right-contact-btn {
    font-size: 16px;
    padding: 14px 18px 13px 23px;
    width: 100%;
  }
  .topbar .contact_btn .btn-red {
    white-space: normal;
    font-size: 8px;
    padding: 3px;
    margin-top: 7px;
    margin-left: 17px;
    margin-right: -10px;
  }
  .banner {
    margin-top: 7px;
  }
  .banner .owl-carousel .item .caption {
    width: auto;
  }
  .banner .owl-carousel .item .caption .caption_inner {
    margin-left: 24px;
  }
  .banner .owl-carousel .item .caption .caption_inner .review {
    display: none;
  }
  .banner .owl-carousel .item .caption .caption_inner .item-title {
    font-size: 2em;
    margin-bottom: 6px;
  }
  .banner .owl-carousel .owl-controls {
    display: none !important;
  }
  .banner,
  .review-title {
    margin-top: 45px!important;
  }
  .navmenu {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .navmenu .search-form-holder {
    padding-right: 0;
  }
  .navmenu form {
    margin-top: -6px;
    width: 97%;
    padding-bottom: 0;
  }
  .navmenu form #category_diff.form-control,
  .navmenu form #navMenuList.form-control {
    width: 100%;
    margin-left: 0px;
    padding-right: 32px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/select_down.png) no-repeat 97% 12px;
    -webkit-background-size: 16px;
    background-size: 16px;
    overflow: auto !important;
  }
  .navmenu form #navMenuList.form-control {
    margin-left: 0 !important;
    margin-right: 10px;
    background-position: 97% 12px;
  }
  .navmenu form .btn {
    padding: 0px 4px 0px;
    margin-left: 0;
    position: absolute;
    right: 3px;
    top: 6px;
  }
  .navmenu form .btn i {
    font-size: 12px;
  }
  .navmenu .navmenu_right .btn-gray {
    font-size: 11px;
  }
  .navmenu .navmenu_right .top .title {
    display: none;
  }
  .navmenu .navmenu_right .top .contact_btn .btn-review-top {
    padding: 14px 8px 1px;
    height: 62px;
    font-size: 16px;
    white-space: pre-line;
    line-height: 17px;
    width: 102px;
  }
  .navmenu .navmenu_right .bottom {
    display: none;
  }
  .main_content .post {
    margin-bottom: 10px;
    height: 280px;
  }
  .main_content .post .post_item .post_thumb {
    min-height: 160px;
    height: auto;
    position: relative;
  }
  .main_content .post .post_item .post_thumb img {
    width: 100%;
    max-height: 160px;
  }
  .main_content .post .post_item .post_thumb .item_title {
    font-size: 11px;
    padding: 10px;
  }
  .main_content .post .post_item .post_thumb .item_label {
    padding: 2px 13px;
    font-size: 14px;
    top: 100px;
  }
  .main_content .post .post_item .post_desc {
    padding: 10px;
    font-size: 12px;
  }
  .main_content .post .post_item .post_desc .button {
    width: 45%;
  }
  .main_content .post .post_item .post_desc .button .btn-big {
    padding: 11px;
    font-size: 8px;
  }
  .main_content .post .post_item .post_desc .post_action {
    padding-top: 0;
  }
  .main_content .post .post_item .post_desc .support_by {
    margin-left: 0;
    width: 100%;
  }
  .main_content .post .post_item .post_desc .support_by p {
    font-size: 11px;
    margin-bottom: 0;
  }
  .main_content .post .post_item .post_desc .support_by p:first-child {
    margin-top: 0;
  }
  .main_content .post .post_item .post_desc .support_by h4 {
    margin: 0;
    font-size: 10px;
  }
  .main_content .post .post_item .post_desc .support_by ul li a {
    height: 10px;
    width: 10px;
  }
  .main_content .post:nth-child(odd) {
    padding-right: 3px;
  }
  .main_content .post:nth-child(even) {
    padding-left: 3px;
  }
  .main_content .load_more_post {
    clear: both;
    margin-top: 9px;
    height: auto;
    position: relative;
  }
  .main_content .load_more_post .next a {
    padding: 7px 32px;
    font-size: 12px;
  }
  .main_content .load_more_post .btn {
    padding: 7px 32px;
  }
  .post_rank img {
    width: 100%;
    margin-left: 7px;
  }
  .recent_posts .post {
    margin-bottom: 20px;
  }
  .user_circle_main {
    margin-bottom: 10px;
  }
  .footer_main {
    padding: 10px;
  }
  .footer_main .footer_left_logo {
    display: none;
  }
  .footer_main .footer_slogan {
    padding-left: 0;
  }
  .footer_main .footer_slogan .footer_title {
    font-size: 13.3px;
  }
  .footer_main .footer_slogan .slogan {
    font-size: 8px;
    margin-bottom: 0;
  }
  .footer_main .footer_right_logo .footer_no {
    display: none;
  }
  .footer_main .footer_right_logo .no_text {
    display: none;
  }
  .footer_main .footer_right_logo .right_logo {
    right: 4px;
    top: -45px;
    width: 48px;
  }
  .footer_main .footer_right_logo .right_logo img {
    max-width: 100%;
    width: 93px;
  }
  #review_modal > .modal_main {
    width: 300px;
  }
  .modal_shadow .modal_main {
    width: 300px;
  }
  .modal_shadow .modal_main .modal_header .close_modal {
    font-size: 1.3em;
    background: url(../img/cross_button.png) no-repeat center center;
    height: 20px;
    width: 20px;
  }
  .modal_shadow .modal_main .modal_body {
    padding: 21px 28px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .title {
    font-size: 13px;
    margin: 0;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .sub_title {
    line-height: 19px;
    font-size: 10.3px;
    margin-bottom: 0;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_logos li {
    width: 40px;
    margin-right: 2px;
    cursor: pointer;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_logos li p {
    font-size: 8px;
    padding-top: 3px;
    margin-bottom: 5px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_lg_logo {
    width: 27%;
    padding-top: 0px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_lg_logo img {
    width: 93%;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list {
    width: 70%;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li {
    margin-bottom: 4px;
    margin-top: 0;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li a {
    font-size: 8px;
    padding: 5px 7px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list p {
    margin-bottom: 6px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list p a {
    display: inline-block;
    border: 1px solid #0055b4;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .client_logos ul {
    margin-top: 8px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .client_logos ul li {
    width: 71px;
    margin-bottom: 6px;
    margin-right: 2px;
  }
  #group_notification .modal_body {
    padding: 43px 26px;
  }
  #group_notification .modal_body .form_area {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }
  #group_notification .modal_body .title {
    margin-bottom: 10px;
    font-size: 22px;
  }
  #group_notification .modal_body p {
    font-size: 13px;
    color: #9f9f9f;
    text-align: center;
  }
  #group_notification .modal_body .subtitle {
    margin-bottom: 10px;
    color: #808080;
    font-size: 16px;
  }
  #group_notification .modal_body label {
    padding-right: 0;
    color: #4d4d4d;
  }
  #group_notification .modal_body label.org-label {
    padding-top: 0;
  }
  #group_notification .modal_body .login_byemail_btn {
    padding: 8px 55px;
  }
  #group_notification .modal_body .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #797979;
    height: 42px;
  }
  .home_reviewslist .review-lists {
    max-height: 66%;
  }
  .details_top .price_sec {
    padding-top: 13px;
    padding-bottom: 12px;
  }
  .details_top .price_sec .logos {
    padding-right: 0;
  }
  .details_top .price_sec .logos span {
    padding-left: 0;
    vertical-align: top;
  }
  .details_top .price_sec .logos p a {
    margin-left: 0;
  }
  .details_top .price_sec .logos p a img {
    padding-left: 5px;
    padding-right: 5px;
  }
  .details_top .price_sec .price_ span {
    vertical-align: top;
  }
  .details_top .price_ {
    padding-left: 0;
    padding-top: 0;
  }
  .details_top .price_ .title {
    font-size: 1.5em;
  }
  .details_rank {
    padding-left: 0;
  }
  .details_rank span {
    font-size: 9px;
  }
  .details_rank img {
    width: 50%;
  }
  #signup_modal.modal_shadow .modal_main .modal_body {
    padding: 23px 20px;
  }
  .topbar .contact_btn ul li a {
    width: 75px;
  }
}
@media (max-width: 560px) {
  #signup_modal_wrap {
    width: 90%;
  }
  #review_modal > .modal_main {
    width: 300px;
  }
  #review_modal > .modal_main > .modal_body {
    padding: 16px 28px 21px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec h3.title {
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec h3.logo_title {
    margin-top: -2px;
    font-size: 12px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec h3.bottom_logo {
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 500;
  }
  #review_modal > .modal_main > .modal_body .modal_sec p.grade_title {
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 12px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec p.sub_title_first {
    margin-top: 2px;
    margin-bottom: 4px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec p.sub_title_bottom {
    margin-top: -3px;
    margin-bottom: 0px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec .modal_logos {
    margin: -7px 0 0 0;
  }
  #review_modal > .modal_main > .modal_body .modal_sec .grade-arrow img {
    width: 93%;
    margin-top: -4px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec .pre_next_tab ul {
    padding: 4px 0 0;
  }
  #review_modal > .modal_main > .modal_body .modal_sec .pre_next_tab ul li.next_pev_txt {
    font-size: 13px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec .client_logos {
    padding-top: 0px;
  }
  #review_modal > .modal_main > .modal_body .modal_sec .about_grade_img img {
    margin-left: 6px;
  }
  .modal_shadow .modal_main {
    width: 300px;
  }
  .modal_shadow .modal_main .modal_header .close_modal {
    font-size: 1.3em;
  }
  .modal_shadow .modal_main .modal_body {
    padding: 21px 28px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .tabs-content {
    height: auto;
    padding-bottom: 3px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .tabs-content .tab {
    height: auto;
    padding: 0 0 5px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .tabs-content .tab h3.sub_logo_title {
    margin-bottom: 10px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .title {
    font-size: 13px;
    margin: 0;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .sub_title {
    line-height: 19px;
    font-size: 10.3px;
    margin-bottom: 0;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_logos li {
    width: 40px;
    margin-right: 2px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_logos li p {
    font-size: 8px;
    padding-top: 3px;
    margin-bottom: 5px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_lg_logo {
    width: 27%;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_lg_logo img {
    width: 93%;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list {
    width: 70%;
    padding-left: 1px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li {
    margin-bottom: 4px;
    margin-top: 0;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list ul li a {
    font-size: 8px;
    padding: 5px 7px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list p {
    margin-bottom: 6px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .modal_list p a {
    display: inline-block;
    border: 1px solid #0055b4;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .client_logos ul {
    margin-top: 8px;
  }
  .modal_shadow .modal_main .modal_body .modal_sec .client_logos ul li {
    width: 71px;
    margin-bottom: 6px;
    margin-right: 2px;
  }
}
@media (max-width: 320px) {
  .contact_btn {
    padding-left: 0;
  }
  .navmenu .navmenu_right .top .contact_btn {
    padding-left: 0;
  }
  .navmenu .navmenu_right .top .contact_btn .btn-review-top {
    padding: 10px 6px 4px;
    font-size: 13px;
    width: 82px;
    height: 53px;
  }
  .topbar .contact_btn ul li a {
    width: 66px;
  }
  .login_by_social h4,
  .login_by_email h4 {
    font-size: 16px;
  }
  .main_content .post .post_item .post_desc .support_by {
    padding-left: 1px;
  }
  .main_content .post .post_item .post_desc .post_action {
    padding-top: 5px;
  }
  .support_by p {
    margin-left: 8px !important;
  }
}
