<?php
$this->start('sidebar');
echo "This is sidebar";
$this->end();
?>
<div class="row">
    <h3 class="page_title">
        Page Title is goes here
    </h3>
    <!-- /.page_title -->
</div>
<!-- /.row -->

